* {
  user-select: none;
  font: 5vmin monospace;
  text-align: center;
}
#loginForm {
  margin-top: 10vh;
}
#idInput {
  font: 10vmin monospace;
  margin: 0px;
  width: 40vmin; 
  height: 100%;
  border: 1px solid #bbb;
  text-align: center;
}
#submitLoginInput {
  font: 8vmin monospace;
  margin: 0px;
  width: 40vmin; 
  height: 100%;
  border: 1px solid #bbb;
  text-align: center;
}
#pleaseWaitDiv {
  display: none; 
  font: 15vmin monospace; 
  text-align: center; 
  margin-top: 30vh;
}
#instructionsDiv {
  display: none; 
}
#instructionsTextarea {
  width: 95vw;
  height: 89vh;
  font: 4vmin monospace;
  text-align: left;
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border: 0px solid black;
}