* {
  user-select: none;
  font: 2vmin monospace;
}
#connectButton {
  display: block;
  text-align: center;
  margin: auto;
  width: 50vmin;
  font: 10vmin monospace;
}
input[type="button"] {
  padding: 0em 0em 0em 0em;
}
input[type="button"]:hover {
  outline: 1px solid #bbb;
}
input[type="button"]:active {
  outline: 1px solid #777;
}
input[type="radio"] {
  width: 1.5vmin;
  height: 1.5vmin;
}
input:hover {
  outline: none;
}
button {
  font-size:3vmin;
  width: 50%;
  display: block;
}
table {
  float: left;
  table-layout: auto;
  padding: 1vh 1vw 1vh 1vw;
  display: none;
}
td {
  border: 0px solid black;
  padding: 0vh 0vw 0vh 0vw;
  width: 5vw;
  text-align: left;
}